* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
}

.content {
    background: linear-gradient(var(--bg-color), var(--bg-color)), url(../img/go_bg.jpg) no-repeat fixed;
    background-size: cover;
    height: 100vh;
    color: var(--text-color);
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}